@page
@model CreateModel

@{
    ViewData["Title"] = "Create";
}

<h4>Create Publisher</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PublisherModel.Name" class="control-label"></label>
                <input asp-for="PublisherModel.Name" class="form-control"/>
                <span asp-validation-for="PublisherModel.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublisherModel.Description" class="control-label"></label>
                <input asp-for="PublisherModel.Description" class="form-control"/>
                <span asp-validation-for="PublisherModel.Description" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}